*{
    margin: 0;
    padding: 0;
}
#wishlist-cont{
    border:"none";
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(236, 232, 232, 0.35) 0px 5px 10px;
    display: flex;
    justify-content: space-evenly;
}
.wish-card{
    box-shadow:rgba(184, 181, 181, 0.35) 0px 5px 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
.wish-card img{
     width: 400px;
     height: 500px;
     border-radius: 8px;
}
 button{
    width:150px ;
    cursor: pointer;
    margin:10px 20px 5px 10px;
    height:30px;
    border-radius: 5px;
    border: none; 
    background-color:rgb(59, 170, 59);
    color: rgb(245, 250, 243);
    font-weight: bolder;
}
 button:hover{
    width:180px;
    height:35px;
    background-color: rgb(133, 30, 230);
}
.remove-wish{
    background-color: brown;
}
